main{
    background-image: url("../pictures/lonesomeroad.jpg");
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
}

.form{
    display: flex;
    flex-direction: column;
    width:30%;
    align-items: center;

}

small{   
     color: black;
}

.btn-primary{
    background-color: black;
    border:none;
    width: 100%;
}


.btn-primary:hover{
    background-color: rgb(36, 31, 31);
    border:none;
}

.form p{
    font-family: WildWestShadow;
    font-size: 50px;
}

@media screen and (min-width:200px) and (max-width:1100px){
    .form{
        width:70%;
    }

    main{
        background-image: url("../pictures/regmobile.jpg");
    }
}


@font-face {
    font-family: "WildWestShadow";  
    src: url("../fonts/357.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    } 

    @font-face {
        font-family: "Roboto";
        src: url("../fonts/Roboto-Black.ttf");
       }